<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Hide Keyboard
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar inputmode="search"
                   spellcheck="false"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <virtual-scroller #scroll [items]="items" (scroll)="scrolling($event)">
      <ion-item lines="none" *ngFor="let item of scroll.viewPortItems">
        {{item}}
      </ion-item>
    </virtual-scroller>
    <!--        <ion-item *ngFor="let client of filteredClients">{{client.fullName}}</ion-item>-->
  </ion-list>
</ion-content>
<!--<ion-content  [scrollEvents]="true"-->
<!--              (ionScrollStart)="scrolling()">-->
<!--  <ion-list>-->
<!--    <ion-item lines="none" *ngFor="let item of items" >-->
<!--      <ion-label class="d-flex ion-align-items-center">-->
<!--        <h2 class="mr-2">-->
<!--          {{item}}-->
<!--        </h2>-->
<!--      </ion-label>-->
<!--    </ion-item>-->
<!--  </ion-list>-->
<!--</ion-content>-->

